// =============================================================================
// Header
// =============================================================================

.header-nav {
  display: block;
  padding: 75px 0 20px;
  border-bottom: 1px solid $base-border-color;
}

.header-logo {
  display: inline-block;
  font: Lato, Helvetica, Arial, sans-serif;
  
  font-size: 24px;
  font-weight: 900;
  color: #000;
  text-decoration: none;
}
h4.header-logo:hover {
}

.header-links {
  float: right;
  padding: 0;
  margin: 15px 0 0;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    &:first-child {
      margin-left: 0;
    }
    a {
      font-size: 18px;
      color: $header-link-color;
      text-decoration: none;
      svg {
        width: 20px;
        height: 20px;
        fill: $gray-light;
        margin-bottom:-2px;
      }
      &:hover svg {
        fill: $gray-dark;     }
    }
  }
  a:hover{
  fill: $header-link-color-hover;
        text-decoration: underline;
  }
}

@include breakpoint(extra-small) {
  .header-nav {
    text-align: center;
  }
  .header-links {
    display: block;
    float: none;
    text-align: center;
    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
